body{
    margin: 0px;
    font-size: 24px;
    background-color:black;
    height: 100px;
}

header{
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
    display: flex;
}

h1#h1titulo{
    display: flex;
    justify-content: left;
}

img#logotitulo{
    height: 100px;
}

img#imgbackground{
    width: 100%;
    position: absolute;
}

h1#tituloPrincipal{
    font-size: 175px;
    display: flex;
    justify-content: center;
    padding-top: 30%;
    color: white;
    position: relative;
    margin-top: 0px;
    
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 25%;
    display: flex;
    flex-direction: column;
}

h2#h2footer{
    display: flex;
    justify-content: left;
}

li{
    display: flex;
    justify-content: left;
}